          
<div class="wp">
  <ol>
    <li>
      <a href="https://authors.elsevier.com/sd/article/S0022-0531(23)00088-1"> 
        "Speculation in Procurement Auctions," 
        <!-- <span style="color:slateblue;">“Incentives in Lottery Contests with Draws,” </span> -->
      </a>
      <em>Journal of Economic Theory</em>, forthcoming.
    </li>

    <li>
      <a href="assets/papers/sequential_contests_v46.pdf"> 
        “Contests with Sequential Entry and Incomplete Information,” 
      </a> 
      with Qiang Fu, Zenan Wu, and Yuxuan Zhu,
      <em>Theoretical Economics</em>, forthcoming.
    </li>

    <li>
      <a href='https://doi.org/10.1016/j.jmateco.2020.10.004'> 
        “Optimally Biased Tullock Contests,” 
      </a> 
      with Qiang Fu and Zenan Wu,
      <em>Journal of Mathematical Economics</em>, 2021, 92, 10-21.
    </li>

    <li>
      <a href='https://doi.org/10.1016/j.econlet.2017.11.028'> 
        “Incentives in Lottery Contests with Draws,” 
      </a> 
      with Zenan Wu and Xiruo Wang,
      <em>Economics Letters</em>, 2018, 163, 1-5.
    </li>
  </ol>
</div>
