          
<div class="wp">
  <ol>

    <li>
      <a href="assets/papers/Confidence management in contests.pdf">
        “Confidence Management in Contests,” 
      </a> 
      with Hanming Fang, Qiang Fu, and Zenan Wu,
      <em style="color:royalblue;font-weight:normal;">Journal of Economics & Management Strategy</em>, forthcoming.
    </li>

    <li>
      <a href="assets/papers/sequential_contests_v46.pdf"> 
        “Contests with Sequential Entry and Incomplete Information,” 
      </a> 
      with Qiang Fu, Zenan Wu, and Yuxuan Zhu,
      <em style="color:royalblue;font-weight:normal;">Theoretical Economics</em>, forthcoming.
    </li>

    <li>
      <a href="assets/papers/Speculation_JET_2023.pdf"> 
        "Speculation in Procurement Auctions," 
        <!-- <span style="color:slateblue;">“Incentives in Lottery Contests with Draws,” </span> -->
      </a>
      <em style="color:royalblue;font-weight:normal;">Journal of Economic Theory</em>, 2023, 212, 105692.
    </li>

    <li>
      <a href="assets/papers/Deng, Fu, and Wu_JMathE_2021.pdf"> 
        “Optimally Biased Tullock Contests,” 
      </a> 
      with Qiang Fu and Zenan Wu,
      <em style="color:royalblue;font-weight:normal;">Journal of Mathematical Economics</em>, 2021, 92, 10-21.
    </li>

    <li>
      <a href="assets/papers/DWW2018.pdf"> 
        “Incentives in Lottery Contests with Draws,” 
      </a> 
      with Zenan Wu and Xiruo Wang,
      <em style="color:royalblue;font-weight:normal;">Economics Letters</em>, 2018, 163, 1-5.
    </li>
  </ol>
</div>
