          
<div class="wp">

  <ol>

    <li> 
      <a href="assets/papers/recurring_auctions.pdf"> 
      “Recurring Auctions with Costly Entry: Theory and Evidence,” 
    </a>
      with Qiyao Zhou.
      <br>
      R&R at <i>AEJ:Micro</i>.
    </li>

    <li> 
      <a href="assets/papers/information and rule_v48.pdf"> 
        “Selective Disclosure and Scoring Bias in Contests,” 
      </a> 
      with Hanming Fang, Qiang Fu, and Zenan Wu.
    </li>

    <li> 
      <a href="assets/papers/dynamics_bargaining_Apr2025.pdf"> 
      “Dynamic Competition with Bargaining: Implications for Subsidy and Competition Policies,” 
      </a> 
      with Andrew Sweeting, Dun Jia, and Mario Leccese.
    </li>

    <li> 
      <a href='assets/papers/combinatorial_holistic_info_frictions_v19.pdf'>
        “Combinatorial versus Holistic Procurement: The Role of Information Frictions,” 
      </a> 
      with Qiang Fu and Zenan Wu.
    </li>

  </ol>
</div>
